.games_header{
    color:#cfcccc;
}
.collection_title{
margin-left:30em;
font-weight: bold;
}

.consoleInfo_name{
font-size: 30px;
font-weight: bold;
}

.console_value{
    margin:8px;
    font-weight: bold;
}

.console_img{
    height:200px;
    width:15em;
    margin-top:10px;
    border-radius: 4px;
}

.console_card{
    display:flex;
    color:#cfcccc;
    box-shadow: 0 20px 48px rgb(0 0 0 / 35%);
    border-radius: 8px;
    margin:3em;
    height:100%;
    width:80em;
    flex-direction:column;
    background-image:
    linear-gradient(
        #4b4b4b, rgb(119, 119, 119) 90%
    );

}
.cardHeader{
    display:flex;
    border-bottom: 1px solid black;
    height:250px;
    box-shadow: 0 20px 48px rgb(0 0 0 / 10%);
}

.imgContainer{
    height:200px;
}

.console_info{
    margin-left:15px;
    height:200px;
}

.console_icon_container{
    display:flex;
    align-items: flex-end;
    margin-bottom:20px;
    width: 60%;
    margin-right: 1rem;
    justify-content: flex-end;

}


.console_plus{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:30px;
}

.console_plus_button:hover{
    cursor: pointer;
}
